h1{
    color:#ffffff;
}

body{
    background-color:#b10636;
    background-image: url(src/imagens/perfil.jpg.jpg);
    background-repeat: no-repeat;
    background-size: ;
    background-position: ;
}



